---
---
$background-color: #B4D6BA;
$overlay-color: rgba(255,255,255,0.8);
$moby-orange: #FFAB48;

/* CLEARFIX*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/* END CLEARFIX */

@keyframes clouds {
    0% {background-position: 0 0}
    100% {background-position: 3148px 0}
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: $background-color;
}
.clouds {
    background-image: url("images/clouds.png");
    background-repeat: repeat-x;
    background-size: contain;
    animation-name: clouds;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.container {
    width: 90%;
    margin: auto;
}

.flexhead {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .flex {
        flex: 1;
    }

    .flexright {
        margin-right: 0;
    }
}

.content{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    background-image: url('images/frontpagebg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: contain;

    .title {
        color: $overlay-color;
        font-size: 3em;
        text-transform: uppercase;

    }

    .inputs p {
        display: inline-block;
        font-weight: 300;
        margin: 10px 0;
        font-size: 2em;
    }

    form {
        display: inline;

        input {
            border: 2px solid $background-color;
            border-radius: 10px;
            font-size: 2em;
            font-weight: 300;
            margin: 10px;
            padding: 0 10px;
            
        }

        input[type="submit"] {
                background-color: white;
            }

        input[type="submit"]:hover {
                background-color: $moby-orange;
                color: white;
                border-color: white;
        }
            

        select {
            border: 2px solid $background-color;
            border-radius: 10px;
            font-size: 2em;
            font-weight: 300;
            margin: 10px;
            padding: 0 10px;
        }
    }

    nav {
        position: absolute;
        bottom: 1vh;
        right: 4%;
        
        a {
            text-decoration: none;
            color: white;
            font-size: 1.5em;
            text-align: right;
        }

        ul :hover {
            color: $moby-orange;
        }

        ul {
            list-style: none;
        }
    }
}

.contentClean{
    width: 100%;
    margin: 0 auto;
    text-align: center;    

    .title {
        color: $overlay-color;
        font-size: 3em;
        text-transform: uppercase;

    }   

    nav {
        position: absolute;
        bottom: 1vh;
        right: 4%;
        
        a {
            text-decoration: none;
            color: white;
            font-size: 1.5em;
            text-align: right;
        }

        ul :hover {
            color: $moby-orange;
        }

        ul {
            list-style: none;
        }
    }
}

.inputs {
    display: inline-block;
    padding: 20px;
    background-color: $overlay-color;
    border-radius: 5px;
    position: relative;
    top: 50px;
}

.mapBlock {
    width: 100%;
    height: 400px;
    margin: auto;
    border: none;
    
    #mapid {
        width: 100%;
        height: 100%;
        border: none;

    }
}

.block {
    width: 33%;
    min-width: 240px;
    float: left;
    margin: 10px 0;
}

.infoblock {
    background-color: white;
    margin: 10px 1% 10px 0;
    border-radius: 4px;
    padding: 0 10px;
}

.rightalign {
    display: block;
    float: right
}

.center {
    display: block;
    text-align: left;
    width: 960px;
    margin: 0 auto;
    margin-top: 250px;
}

.site-header {

    .header-bar {
        width: 90%;
        margin: 5px auto;
        background-color: white;
        border-radius: 5px;
        text-align: center;
    }

    .button {
        text-decoration: none;
        color: $background-color;
        border: 2px solid $background-color;
        border-radius: 7px;
        font-size: 1.5em;
        font-weight: 300;
        padding: 5px 10px;
        margin: 10px;
        display: block;
        float: left;

    }

    .site-title {
        text-decoration: none;
        color: $background-color;
        font-size: 2em;
        padding: 10px;
        display: inline-block;
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
    
    }

    .button:hover {
        text-decoration: none;
        color: black;
    }
}

.site-footer {
    
        .footer-bar {
            width: 90%;
            margin: 5px auto;
            text-align: center;
            position: static;
            bottom: 1vh;
            right: 5%;
            }        
    
        .button {
            text-decoration: none;
            color: white;
            border: 2px solid white;
            border-radius: 7px;
            font-size: 1.5em;
            font-weight: 300;
            padding: 5px 10px;
            margin: 10px;
            margin-left: 0;
            display: block;
            float: left;    
        }

        .button:hover {
            text-decoration: none;
            color: black;
            border: 2px solid white;  
        }
    }

.righttextalign {
    display: block;
    float: right;
}



@media screen and (max-width: 968px) {
    .site-header .button {
        margin: 10px 0 10px 5px;
        font-size: 1em;
    }
    
    .site-header .site-title {
        margin: 2px 0 0 0;
    }
}

@media screen and (max-width: 876px) {
    .flexcenter {
        margin-right: 0;
    }  
    
    .site-header .button {
        margin: 10px 0 10px 8px;
    }
    
    .site-header .site-title {
        font-size: 1.2em;
        margin: 3px 0 0 0;
    }

    .content {
        font-size: 1em;
    }

    form input{
        width: 50%
    }

    form select{
        width: 50%
    }

    .content nav {
        position: absolute;
        top: 2vh;
        right: 10%;
    }
}

@media screen and (max-width: 576px) {
    .flexleft {
        margin-right: 0;
    }
}

.legende {
    list-style: none;
    line-height: 2em;

    #location {
        list-style-image: url("images/huidigelocatieicon.png");
        padding-left: 10px;
    }

    #destination {
        list-style-image: url("images/bestemmingicon.png");
        padding-left: 10px;
    }

    #garage {
        list-style-image: url("images/parkingpopup.png");
        padding-left: 10px;
    }

    #parking {
        list-style-image: url("images/parkingsmall.png");
        padding-left: 10px;
    }

    #parkeerautom {
        list-style-image: url("images/parkautom.png");
        padding-left: 10px;
    }

    #fietspunt {
        list-style-image: url("images/fietsicon.png");
        padding-left: 10px;
    }

    #bluebike {
        list-style-image: url("images/bluebikeicon.png");
        padding-left: 10px;
    }

    #taxi {
        list-style-image: url("images/taxi.png");
        padding-left: 10px;
    }

    #halte {
        list-style-image: url("images/halte.png");
        padding-left: 10px;
    }
    
}

.centerblock {
    width: 40%;
    margin: auto;
    background-color: $overlay-color;
    border-radius: 7px;
    padding: 10px;
    line-height: 1.7em;
    text-align: left;

    textarea {
        font-family: 'Montserrat', sans-serif;
        border: 2px solid $background-color;
        border-radius: 10px;
        font-size: 1em;
        width: 80%;
        margin: 10px auto;
        padding: 0 10px;
        display: block;
    }
}

.contactlist {
    list-style: none;
    padding: 0;

    p {
        margin: 0;
        padding: 0 0 30px 0;
    }
    h4 {
        margin: 0;
    }

}

.contentClean .title {
    color: $overlay-color;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .centerblock {
        width: 90%
    }
    .aboutcontactnav {
        position: static;
    }

    .contentClean .title {
        font-size: 2em;
    }
}