---
layout: about
---

<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
<body>
    {% include header.html %}

<div class="center">
    <div class="box">
        <header class="">
            <h1 class="">Over ons</h1>
        </header>
        <div class="">
        Wij zijn een jong team van developers. We hebben deze webapplicatie gemaakt om het gemakkelijk te maken voor pendelaars om snel en eenvoudig alle info terug te vinden rond mobiliteit.            
        </div>
    </div>
</div>

{% include footer.html %}