---
layout: about
---

<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
<body>
    {% include header.html %}

<div class="cf clouds">
    <div class="contentClean cf">
        <header class="title">
            <h1 class="">Over ons</h1>
        </header>
        <div class="centerblock">
        <p>Hola!<br><br>Wij zijn een jong team developers die genoeg hadden van het Gentse verkeer. 
        Maar aangezien wij niks kunnen veranderen aan het verkeer bedachten we een andere mogelijkheid.
        Moby Gent, een verzamelplaats voor alle informatie over het huidige verkeer in en rond Gent.
        <br>We hopen dan ook dat er ook maar 1 iemand vijf minuten sneller op zijn eindbestemming geraakt
        door Moby Gent.<br><br>Groeten Tomas & Jelle</p>     
        </div>
    
    </div>
</div>
{% include footer.html %}
</body>
</html>