---
layout: contact
---

<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
<body>
    {% include header.html %}

<div class="cf clouds">
    <div class="contentClean cf">
        <header class="title">
            <h1 class="">Contact</h1>
        </header>

        <div class="cf centerblock">
            <p>Een fout ontdekt? Een functie die je graag zou zien? Of wil je gewoon eens goeiendag zeggen? Holla at ya boys!</p>
            <ul class="contactlist">
                <li><h4>Onze namen</h4><p>Tomas Hoste & Jelle Dutry</p></li>
                <li><h4>Email</h4><p>info@mobygent.be</p></li>
                <li><h4>Telefoon</h4><p>0412 34 56 78</p></li>
                <li><h4>Address</h4><p>Walvisstraat 24 9000 Gent</p></li>
            </ul>            
        </div>    
    </div>
</div>
{% include footer.html %}
</body>
</html>