<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
<body>
    {% include header.html %}

<div class="container cf">
    <div class="verkeersInfo">
    
    </div>
    <div class="mapBlock">
        <div id="mapid">
        </div>
    </div>
    <div id="vrijefietsen" class="halfblock infoblock">
        <h3>Aantal vrije Blue Bike fietsen</h3>
        <div id = "fietsen" class="cf">

        </div>
    </div>

    <div class="reistijden">

    </div>


</div>

<script src="js/main.js"></script>

{% include footer.html %}